body{
    margin: 0;background-color: rgb(214, 44, 44);
}
.form{
width: 30%;
height: 50%;
text-decoration: dotted;
border: 5px solid red;
padding: 18px;
margin-left: 40%;
margin-top: 10%;
background-color:orange;
}
#reseta{
    margin-left: 10px;
}
 h1{
text-align: center;
    }